/* Main Content Start */
.main-content {
  margin-left: 5rem;
  padding: 0.5rem 1rem;
}
body.active .main-content {
  margin-left: 15rem;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.1rem 1rem;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

section.content {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.content h2{
  color: #16a085;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th,
table td {
  padding: 0.75rem;
  border: 1px solid #ddd;
}

table th:last-child,
table td:last-child {
  border-right: none;
}

section.content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

table thead th {
  background-color: #16a085;
  color: #fff;
  padding: 0.75rem;
  text-align: center;
}

table tbody td {
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

table tbody tr:nth-child(even) {
  background-color: #efefef;
}

td.verified {
  background-color: green;
  color: #eee;
}

td.rejected {
  background-color: red;
  color: #eee;
}

td a{
    color: #16a085;
    font-size: 12px;
    font-weight: 700;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #333;
}

.save-btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  transition: background-color 0.3s;
}

.save-btn:hover {
  background-color: #45a049;
}
